---
layout: layout.liquid
---
<div class="columns">
    <div class="column"></div>
    <div class="column is-three-quarters">

        <div class="level mb-1">
            <div class="is-pulled-left is-size-5 has-text-info-dark">
                {{ page.fileSlug }}
            </div>
            <div class="is-pulled-right tag is-warning">
                {{ page.date | date: "%e/%m/%Y" }} KEK
            </div>
        </div>
        <hr class="mt-0">

        <video width="100%" height="100%" controls>
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 

        {{ content }}

    </div>
    <div class="column"></div>
</div>
